p {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #333;
}

/* Select category dropdown */
.recipe_wrap {
  text-align: start;
  width: 80%;
  margin: 0 auto;
}

/* Recipe Page */
.header {
  margin-bottom: 3rem;
}
.header h1 {
  font-size: 1.5rem;
}
.details {
  background-color: #d3d3d3;
  padding: 10px;
}

.instruction {
  margin: 3rem 0 5rem 0;
}
.instruction h2 {
  text-align: center;
}

.cooking_now h3 {
  font-size: 1.2rem;
}
.cooking_choice {
  font-size: 0.9rem;
  padding: 5px;
}
.cooking_button {
  margin-left: 10px;
}

/* Add Page */
.add_form {
  width: 70%;
  margin: 0 auto;
}
.add_form h2 {
  margin-bottom: 1.5rem;
}
.cooking_header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 20px;
}
