{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<form action="/add" method="post">
  <div class="mb-3">
    <input
      class="form-control"
      autofocus
      name="name"
      placeholder="Name"
      type="text"
    />
  </div>
  <div class="mb-3">
    <textarea
      class="form-control"
      id="desc"
      name="desc"
      rows="1"
      placeholder="Description"
    ></textarea>
  </div>
  <div class="mb-3">
    <textarea
      class="form-control"
      id="instructions"
      name="instructions"
      rows="3"
      placeholder="Instructions"
    ></textarea>
  </div>

  <div class="mb-3">
    <select
      name="difficulty"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected>Difficulty:</option>
      <option value="1">Difficulty: One</option>
      <option value="2">Difficulty: Two</option>
      <option value="3">Difficulty: Three</option>
    </select>
  </div>
  <div class="mb-3">
    <select
      name="category"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected>Category:</option>
      <option value="food">Food</option>
    </select>
  </div>
  <div class="mb-3">
    <select
      name="price"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected>Price:</option>
      <option value="$">Price: $</option>
      <option value="$$">Price: $$</option>
      <option value="$$$">Price: $$$</option>
    </select>
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="total_time"
      placeholder="Total cook time (in minutes)"
      type="number"
    />
  </div>
  <div class="mb-3">
    <h2 class="fs-4">Rating:</h2>

    <div class="d-flex">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="option"
          id="option1"
          value="1"
        />
        <label class="form-check-label" for="option1"> 1 Star </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="option"
          id="option2"
          value="2"
        />
        <label class="form-check-label" for="option2"> 2 Stars </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="option"
          id="option3"
          value="3"
        />
        <label class="form-check-label" for="option3"> 3 Stars </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="option"
          id="option4"
          value="4"
        />
        <label class="form-check-label" for="option4"> 4 Stars </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="option"
          id="option5"
          value="5"
        />
        <label class="form-check-label" for="option5"> 5 Stars </label>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="last_cooked"
      placeholder="Last cooked: Today"
      type="text"
    />Today
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
</form>
{% endblock %}
