{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}
<div class="mb-3">
  <form action="/" method="GET" class="d-flex">
    <select
      name="category"
      class="form-select"
      aria-label="Default select example"
    >
      {% if category %}
      <option selected disabled>Category: {{ category }}</option>
      {% else %}
      <option selected disabled>Category:</option>
      {% endif %}
      <option value="">Any</option>
      {% for cat in categories %}
      <option value="{{ cat.lower() }}">{{ cat }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-light d-block px-5" type="submit">Filter</button>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      {% for c in columns %}
      <th scope="col">
        {{ c.capitalize() }}
        <a href="{{ url_for('sort', column=c, way='ASC')}}">↓</a>
        <a href="{{ url_for('sort', column=c, way='DESC')}}">↑</a>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows: %}
    <tr>
      <td class="text-start">
        <a href="/recipe/{{ row[0] }}">{{ row[1] }}</a>
      </td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      <td>{{ row[5] }}</td>
      <td>{{ row[6] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
