{% extends "layout.html" %} {% block title %} Recipe Details: {% endblock %} {%
block main %}
<div class="recipe_wrap">
  <div class="header">
    <h1>{{ row[2] }}</h1>
    <p>{{ row[3] }}</p>
  </div>
  <!-- <div class="container text-center">
    <div class="row">
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
  </div> -->
  <div class="details rounded">
    <div class="row">
      <div class="col">
        <p>Category: {{ row[5] }}</p>
        <p>Difficulty: {{ row[7] }}</p>
        <p>Rating: {{ row[8] }}</p>
      </div>
      <div class="col">
        <p>Price: {{ row[9] }}</p>
        <p>Total cook time: {{ row[4] }} minutes</p>
        <p>Last cooked: {{ row[10] }}</p>
      </div>
    </div>
  </div>
  <div class="intruction">
    <h2>Instructions</h2>
    <p>{{ row[6] }}</p>
  </div>
  <div class="actions">
    <a href="{{ url_for('update', id=row[0]) }}" class="btn btn-primary"
      >Update</a
    >
    <a href="{{ url_for('delete', id=row[0]) }}" class="btn btn-danger"
      >Delete</a
    >
  </div>
  <div>
    <h3>Cooking now?</h3>
    <form action="/cooking_now/{{row[0]}}" method="get">
      <div class="btn-group" role="group">
        <input
          type="radio"
          class="btn-check"
          name="cooking"
          id="no"
          autocomplete="off"
          value="no"
          checked
        />
        <label class="btn btn-outline-primary" for="no">No</label>

        <input
          type="radio"
          class="btn-check"
          name="cooking"
          id="yes"
          autocomplete="off"
          value="yes"
        />
        <label class="btn btn-outline-primary" for="yes">Yes</label>
        <button type="submit">Confirm</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
