{% extends "layout.html" %} {% block title %} Recipe Details: {% endblock %} {%
block main %}
<div class="header">
  <h1>{{ row[2] }}</h1>
  <p>{{ row[3] }}</p>
</div>
<div class="intruction">
  <h2>Instructions</h2>
  <p>{{ row[6] }}</p>
  <h3>Total cook time: {{ row[4] }} minutes</h3>
</div>
<div class="details">
  <h3>Category: {{ row[5] }}</h3>
  <h3>{{ row[7] }}</h3>
  <h3>{{ row[8] }}</h3>
  <h3>{{ row[9] }}</h3>
  <p>{{ row[10] }}</p>
</div>
<div class="actions">
  <a href="{{ url_for('update', id=row[0]) }}" class="btn btn-primary"
    >Update</a
  >
  <a href="{{ url_for('delete', id=row[0]) }}" class="btn btn-danger">Delete</a>
</div>
<div>
  <h3>Cooking now?</h3>
  <form action="/cooking_now/{{row[0]}}" method="get">
    <div class="btn-group" role="group">
      <input
        type="radio"
        class="btn-check"
        name="cooking"
        id="no"
        autocomplete="off"
        value="no"
        checked
      />
      <label class="btn btn-outline-primary" for="no">No</label>

      <input
        type="radio"
        class="btn-check"
        name="cooking"
        id="yes"
        autocomplete="off"
        value="yes"
      />
      <label class="btn btn-outline-primary" for="yes">Yes</label>
      <button type="submit">Confirm</button>
    </div>
  </form>
</div>
{% endblock %}
